.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #166534; // Tailwind green-800
  animation: fadePulse 2s ease-in-out infinite;
}

@keyframes fadePulse {
  0%, 100% {
	opacity: 0.3;
  }
  50% {
	opacity: 1;
  }
}

.dot-music {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #166534; // Tailwind green-800
  display: inline-block;
  margin: 0 2px;
  animation: musicBeat 1s infinite;
}

.dot-music:nth-child(1) {
  animation-delay: 0s;
}

.dot-music:nth-child(2) {
  animation-delay: 0.2s;
}

.dot-music:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes musicBeat {
  0%, 100% {
	opacity: 0.3;
  }
  25% {
	opacity: 1;
  }
  50% {
	opacity: 0.4;
  }
  75% {
	opacity: 0.8;
  }
}

