@import "../abstracts/mixins";

.icon-container {
  svg {
	width: 64px;
	height: 64px;
  }
}

.brush-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  background: url('/src/assets/img/brushes/blue-paint-brush-stroke-2.png') no-repeat center;
  background-size: contain;
  z-index: -1;

  @include breakpoint(phone) {
	left: 50%;
	transform: translate(-50%, -50%);
  }
}

.cookies {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  header {
	display: flex;
	align-items: center;
	gap: 10px;
  }

  .data {
	margin-top: 16px;

	p {
	  color: #333;
	  font-size: 16px;

	  a {
		color: var(--color-tertiary);
		text-decoration: underline;
		font-weight: 500;
		text-underline-offset: 2px;

		&:hover {
		  color: var(--color-tertiary-100);
		}
	  }
	}
  }

  .buttons {
	margin-top: 16px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.btn {
	  width: calc(100% / 2 - 10px);
	}

  }

}

.cookies {
  &.show {
	right: 20px;

	@include breakpoint(phone) {
	  right: 0;
	  max-width: 100%;
	  left: 0;
	  bottom: 10px;
	}
  }
}

.article-card {

  &:hover &-image {

	  transform: scale(1.05);

  }

  &:hover &-title {
	color: var(--color-tertiary-300);
  }
}