@charset "UTF-8";
/* Kolory bazowe */
:root {
  --color-primary: #7B11F9;
  --color-primary-100: #a14cff; /* jaśniejszy odcień */
  --color-primary-200: #7b11f9; /* bazowy */
  --color-primary-300: #5c0fcc; /* ciemniejszy odcień */
  --color-secondary: #F74D4D;
  --color-secondary-100: #ffa4a4; /* jaśniejszy odcień */
  --color-secondary-200: #f74d4d; /* bazowy */
  --color-secondary-300: #c03b3b; /* ciemniejszy odcień */
}

/* Tekst */
.text-primary {
  color: var(--color-primary);
}

.text-primary-100 {
  color: var(--color-primary-100);
}

.text-primary-200 {
  color: var(--color-primary-200);
}

.text-primary-300 {
  color: var(--color-primary-300);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-100 {
  color: var(--color-secondary-100);
}

.text-secondary-200 {
  color: var(--color-secondary-200);
}

.text-secondary-300 {
  color: var(--color-secondary-300);
}

/* Tła */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-100 {
  background-color: var(--color-primary-100);
}

.bg-primary-200 {
  background-color: var(--color-primary-200);
}

.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-100 {
  background-color: var(--color-secondary-100);
}

.bg-secondary-200 {
  background-color: var(--color-secondary-200);
}

.bg-secondary-300 {
  background-color: var(--color-secondary-300);
}

.container {
  padding-left: max(4vw, 24px);
  padding-right: max(4vw, 24px);
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1312px + 8vw);
}
.container .container {
  padding-left: 0;
  padding-right: 0;
}
.container--1110 {
  max-width: calc(1110px + 8vw);
}

button,
.btn {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 200ms ease;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}
button:hover svg, button:hover img,
.btn:hover svg,
.btn:hover img {
  transform: translateX(10%);
}
button svg, button img,
.btn svg,
.btn img {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}
button:disabled, button.disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-primary {
  background-color: var(--color-primary-200);
  color: var(--color-white);
}
.btn-primary:hover {
  background-color: var(--color-primary-100);
}
.btn-primary:active {
  background-color: var(--color-primary-300);
}

.btn-secondary {
  background-color: var(--color-secondary-200);
  color: var(--color-white);
  border: 1px solid var(--color-secondary-300);
}
.btn-secondary:hover {
  background-color: var(--color-secondary-100);
}
.btn-secondary:active {
  background-color: var(--color-secondary-300);
}

.btn-transparent {
  transition: all 0.3s ease;
  border: 1px solid grey;
  backdrop-filter: none;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(128, 128, 128, 0.35);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}
.btn-transparent:active {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #166534;
  animation: fadePulse 2s ease-in-out infinite;
}

@keyframes fadePulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
.icon-container svg {
  width: 64px;
  height: 64px;
}

.brush-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url("/src/assets/img/brush-stroke-2.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}

/*# sourceMappingURL=style.css.map */
