@charset "UTF-8";
/* Kolory bazowe */
:root {
  --color-primary: #FCFCFC;
  --color-primary-100: #FFFFFF; /* najjaśniejszy odcień */
  --color-primary-200: #FCFCFC; /* bazowy */
  --color-primary-300: #E6E6E6; /* delikatnie ciemniejszy */
  --color-secondary: #DBDCDA;
  --color-secondary-100: #F1F1F0; /* jaśniejszy odcień */
  --color-secondary-200: #DBDCDA; /* bazowy */
  --color-secondary-300: #BEBFBD; /* ciemniejszy odcień */
  --color-tertiary: #024BCC; /* kolor akcentowy (np. przyciski, linki) */
  --color-tertiary-100: #4D7FFF; /* jaśniejszy odcień */
  --color-tertiary-200: #024BCC; /* bazowy */
  --color-tertiary-300: #013B9F; /* ciemniejszy odcień */
}

/* Tekst */
.text-primary {
  color: var(--color-primary);
}

.text-primary-100 {
  color: var(--color-primary-100);
}

.text-primary-200 {
  color: var(--color-primary-200);
}

.text-primary-300 {
  color: var(--color-primary-300);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-secondary-100 {
  color: var(--color-secondary-100);
}

.text-secondary-200 {
  color: var(--color-secondary-200);
}

.text-secondary-300 {
  color: var(--color-secondary-300);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-tertiary-100 {
  color: var(--color-tertiary-100);
}

.text-tertiary-200 {
  color: var(--color-tertiary-200);
}

.text-tertiary-300 {
  color: var(--color-tertiary-300);
}

/* Tła */
.bg-primary {
  background-color: var(--color-primary);
}

.bg-primary-100 {
  background-color: var(--color-primary-100);
}

.bg-primary-200 {
  background-color: var(--color-primary-200);
}

.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-secondary-100 {
  background-color: var(--color-secondary-100);
}

.bg-secondary-200 {
  background-color: var(--color-secondary-200);
}

.bg-secondary-300 {
  background-color: var(--color-secondary-300);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-tertiary-100 {
  background-color: var(--color-tertiary-100);
}

.bg-tertiary-200 {
  background-color: var(--color-tertiary-200);
}

.bg-tertiary-300 {
  background-color: var(--color-tertiary-300);
}

/* Ramki (borders) */
.border-primary {
  border-color: var(--color-primary);
}

.border-primary-100 {
  border-color: var(--color-primary-100);
}

.border-primary-200 {
  border-color: var(--color-primary-200);
}

.border-primary-300 {
  border-color: var(--color-primary-300);
}

.border-secondary {
  border-color: var(--color-secondary);
}

.border-secondary-100 {
  border-color: var(--color-secondary-100);
}

.border-secondary-200 {
  border-color: var(--color-secondary-200);
}

.border-secondary-300 {
  border-color: var(--color-secondary-300);
}

.border-tertiary {
  border-color: var(--color-tertiary);
}

.border-tertiary-100 {
  border-color: var(--color-tertiary-100);
}

.border-tertiary-200 {
  border-color: var(--color-tertiary-200);
}

.border-tertiary-300 {
  border-color: var(--color-tertiary-300);
}

.container {
  padding-left: max(4vw, 24px);
  padding-right: max(4vw, 24px);
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1312px + 8vw);
}
.container .container {
  padding-left: 0;
  padding-right: 0;
}
.container--1110 {
  max-width: calc(1110px + 8vw);
}
.container--768 {
  max-width: calc(768px + 8vw);
}

button,
.btn {
  display: flex;
  padding: 12px 24px;
  align-items: center;
  justify-content: center;
  gap: 12px;
  transition: all 200ms ease;
  background-color: inherit;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  width: fit-content;
}
button:hover svg, button:hover img,
.btn:hover svg,
.btn:hover img {
  transform: translateX(10%);
}
button svg, button img,
.btn svg,
.btn img {
  width: 24px;
  height: 24px;
  transition: all 0.3s;
}
button:disabled, button.disabled,
.btn:disabled,
.btn.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-primary {
  background-color: var(--color-primary-200);
  color: var(--color-white);
}
.btn-primary:hover {
  background-color: var(--color-primary-100);
}
.btn-primary:active {
  background-color: var(--color-primary-300);
}

.btn-secondary {
  background-color: transparent;
  color: var(--color-tertiary-200);
  border: 1px solid var(--color-tertiary-200);
}
.btn-secondary:hover {
  background-color: var(--color-tertiary-200);
  color: var(--color-white);
}
.btn-secondary:active {
  background-color: var(--color-secondary-300);
}

.btn-transparent {
  transition: all 0.3s ease;
  border: 1px solid grey;
  backdrop-filter: none;
}
.btn-transparent:hover {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(128, 128, 128, 0.35);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}
.btn-transparent:active {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
}

.btn-tertiary {
  background-color: var(--color-tertiary-200);
  color: var(--color-white);
  border: 1px solid var(--color-tertiary-300);
  transition: all 0.3s ease;
}
.btn-tertiary:hover {
  background-color: var(--color-tertiary-100);
}
.btn-tertiary:active {
  background-color: var(--color-tertiary-300);
}
.btn-tertiary:disabled, .btn-tertiary.disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

input,
textarea,
select {
  height: 48px;
  border-bottom: 1px solid var(--color-secondary-200);
  padding: 12px;
  width: 100%;
  display: block;
}
input::placeholder,
textarea::placeholder,
select::placeholder {
  color: black;
}
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: none;
  border-color: var(--color-tertiary-200);
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
select::-webkit-outer-spin-button,
select::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input.input-small,
textarea.input-small,
select.input-small {
  height: 40px;
  padding: 8px;
}
input:disabled,
textarea:disabled,
select:disabled {
  border: none;
}

input[type=checkbox],
input[type=radio] {
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  accent-color: var(---color-tertiary-200);
}

input[type=file] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  height: auto;
  resize: none;
}

label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
label:has(input[type=checkbox]) {
  flex-direction: row;
  gap: 8px;
}

@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Gilroy";
  src: url("/src/assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: "Gilroy", sans-serif;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #166534;
  animation: fadePulse 2s ease-in-out infinite;
}

@keyframes fadePulse {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
}
.icon-container svg {
  width: 64px;
  height: 64px;
}

.brush-bg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: url("/src/assets/img/brush-stroke-2.png") no-repeat center;
  background-size: contain;
  z-index: -1;
}

.cookies {
  position: fixed;
  bottom: 50px;
  right: -370px;
  max-width: 345px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
  padding: 15px 25px 22px;
  transition: right 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.cookies header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.cookies .data {
  margin-top: 16px;
}
.cookies .data p {
  color: #333;
  font-size: 16px;
}
.cookies .data p a {
  color: var(--color-tertiary);
  text-decoration: underline;
  font-weight: 500;
  text-underline-offset: 2px;
}
.cookies .data p a:hover {
  color: var(--color-tertiary-100);
}
.cookies .buttons {
  margin-top: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cookies .buttons .btn {
  width: calc(50% - 10px);
}

.cookies.show {
  right: 20px;
}

.blog__content--full article {
  display: flex;
  flex-direction: column;
}
.blog__content--full article h1, .blog__content--full article h2, .blog__content--full article h3 {
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -1.2px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

/*# sourceMappingURL=style.css.map */
