/* Kolory bazowe */
:root {
  --color-primary: #7B11F9;
  --color-primary-100: #a14cff; /* jaśniejszy odcień */
  --color-primary-200: #7b11f9; /* bazowy */
  --color-primary-300: #5c0fcc; /* ciemniejszy odcień */

  --color-secondary: #F74D4D;
  --color-secondary-100: #ffa4a4; /* jaśniejszy odcień */
  --color-secondary-200: #f74d4d; /* bazowy */
  --color-secondary-300: #c03b3b; /* ciemniejszy odcień */
}

/* Tekst */
.text-primary {
  color: var(--color-primary);
}
.text-primary-100 {
  color: var(--color-primary-100);
}
.text-primary-200 {
  color: var(--color-primary-200);
}
.text-primary-300 {
  color: var(--color-primary-300);
}

.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-100 {
  color: var(--color-secondary-100);
}
.text-secondary-200 {
  color: var(--color-secondary-200);
}
.text-secondary-300 {
  color: var(--color-secondary-300);
}

/* Tła */
.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary-100 {
  background-color: var(--color-primary-100);
}
.bg-primary-200 {
  background-color: var(--color-primary-200);
}
.bg-primary-300 {
  background-color: var(--color-primary-300);
}

.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-secondary-100 {
  background-color: var(--color-secondary-100);
}
.bg-secondary-200 {
  background-color: var(--color-secondary-200);
}
.bg-secondary-300 {
  background-color: var(--color-secondary-300);
}
