.nav {
  &.open {
	.navbar {

	  &__bottom {
		transition: all 0.3s ease-in-out;
		background-color: rgba(252, 252, 252, 0.9);

		img {
		  transition: all 0.3s ease-in-out;
		  opacity: 100%;
		}
	  }
	}
  }
}

